.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 0 0px;
  background-color: #00acb0;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  width: fit-content;

  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  cursor: pointer;
  color: gray;
}

.listTheme {
  display: inline-block;
  color: blue;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  width: fit-content;

  border: none;
  cursor: pointer;
  outline: 0;
  border-radius: 25px;
}

.listTheme:hover {
  color: navy;
}

.rentTheme {
  display: inline-block;
  color: green;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  width: fit-content;

  border: none;
  cursor: pointer;
  outline: 0;
  border-radius: 25px;
}

.rentTheme:hover {
  color: darkgreen;
}

.userDropdown {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 15px;
  width: fit-content;

  border: none;
  cursor: pointer;
  outline: 0;
}
